<mat-card>
    <mat-card-title>List of users</mat-card-title>
    <mat-card-subtitle>Click each row to check user's photo album</mat-card-subtitle>
    <table mat-table [dataSource]="userData" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                Id.
            </th>
            <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Name
            </th>
            <td mat-cell *matCellDef="let user"> {{user.name}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
                Email
            </th>
            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>
                Address
            </th>
            <td mat-cell *matCellDef="let user"> {{user.address.city}}, {{user.address.suite}}, {{user.address.street}},
                {{user.address.zipcode}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeToUserPhotoAlbum(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>